.container_projects{
    display:flex;
    justify-content:center;
    align-items :center;
    .container_project{
        width:100vw;
        border-radius:1vh;
        height:100vh;
        background-color:#F5FFF7;
        .container_data_project{
            background:#9BBFA0;
            display:flex;
            height:40vh;
        
            article{
                width:30%;
                margin:2vh;
                font-weight: 300;
            }
        }
        .container_image_project{
            display:flex;
            align-items:center;
            justify-content: center;
            .btn_change_project{
                color:#558680;
                font-size:15vh;
                cursor:pointer;
                transition:0.3s;
                &:hover{
                    color:#385855;
                    text-shadow: 10vh 10vh 10vh black;
                    transition:0.3s;
                }
            }
            .project_image{
                display:flex;
                flex-direction:column;
                .container_prueba_image{
                    width: 70vw;
                    height:60vh;
                    background-color:gray;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .pagination{
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    .point_pagination{
                        width:1vh;
                        height: 1vh;
                        cursor:pointer;
                        border-radius:1vh;
                        margin:2vh;
                        background:rgb(194, 193, 193);
                    }
                }
            }

        }
    }
}
    @keyframes cambio{
        0%{
            opacity:0

        }
        100%{
            opacity:1
        }
    }
